body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.clear{
    clear: both;
}

/* Typography */
h1{
    font-size: 50px;
    color: #ec4c7a;
}

h2{
    font-size: 35px;
    font-weight: normal;
}

h3{
    color: #fff;
    text-align: center;
    font-weight: normal;
}

p{
    color: #707070;
}

/* Header Section */
header{
    padding: 5% 10%;
    background-image: url(images/header-bg.png);
    background-size: cover;
}

.half-width{
    width: 50%;
    float: left;
}

.header img{
    width: 100%;
}

.button{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, #ec5093, #ed4b73);
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: .2s all;
    box-shadow: 5px 5px 5px gray;
}

.button:hover{
    background-image: linear-gradient(45deg, #ed4b73, #ec5093);    
    box-shadow: 5px 5px 5px black;
}


/* Biography Section */
.biography{
    padding: 5% 10%;
    background-image: url('images/biography-bg.png');
    background-size: cover;
}

.biography img{
    width: 80%;
}

/* Latest Works Section */
.latest-works{
    padding: 5% 10%;
    background-image: url('images/latest-work-bg.png');
    background-size: cover;
    text-align: center;
}

.latest-works h2{
    margin-bottom: 50px;
}

.thumbnail-image{
    width: 30%;
    margin: 0 1.5%;
    float: left;
}

.thumbnail-image img{
    width: 100%;
}
/* Contact Section */
.contact{
    padding: 5% 10%;
    background-image: url('images/header-bg.png');
    background-position: left;
    text-align: center;
}

.contact h4{
    margin: 0;
    font-weight: normal;
}

.client-position{
    color: #707070;
    font-size: 12px;
}

.contact p{
    width: 40%;
    margin: 20px auto;
    color: #000;
}

.contact p::before,
.contact p::after{
    content: '"';
}

.contact-box{
    width: 50%;
    margin: 50px auto;
    background-image: linear-gradient(45deg, #ec5195, #ed4b72);
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 3px 3px 5px gray;
    transition: .2s all;
}

.contact-box:hover{
    box-shadow: 5px 5px 5px gray;
    background-image: linear-gradient(45deg, #ed4b72, #ec5195);
}

/* Footer section */
footer p{
    color: dimgray;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}